In [1]:
import os
import glob
import pandas as pd

In [2]:
def find_txt_files(directory):
    txt_files = []
    for root, dirs, files in os.walk(directory):
        for file in files:
            if file.endswith(".txt"):    
#                 print(os.path.join(root, file))
                txt_files.append(os.path.join(root, file))
    return txt_files

In [3]:
def read_txt_file(file_path):
    df = pd.read_csv(file_path, delim_whitespace=True, header=None)
    return df

In [4]:
def read_txt_file1(file_path):
    df = pd.read_csv(file_path, sep=",")
    return df

火险指数
---

In [10]:
txt_files = find_txt_files('C:\\Users\\HTHT\\Desktop\\建模数据\\model_CHINA')

dataframes = []  
for txt_file in txt_files:
    df = read_txt_file(txt_file)
    dataframes.append(df)
df_CHINA = pd.concat(dataframes)  
df_CHINA.columns =['sta','lon','lat','year','month','day','FFDI']

In [11]:
df_CHINA.head()

     sta     lon    lat  year  month  day  FFDI
0  50136  122.52  52.97  2010      1    1   0.0
1  50246  124.72  52.35  2010      1    1   0.0
2  50247  123.57  52.03  2010      1    1   0.0
3  50349  124.33  51.70  2010      1    1   0.0
4  50353  126.65  51.72  2010      1    1   0.0

美国模型
---

In [ ]:
txt_files = find_txt_files("C:\\Users\\HTHT\\Desktop\\建模数据\\model_USA")
dataframes = []  
for txt_file in txt_files:
    df = read_txt_file(txt_file)
    dataframes.append(df)
df_USA = pd.concat(dataframes)  
df_USA.columns =['sta','lon','lat','yth1','yth10','yth100','yth1000','kb','erc','sc','bi','ic','p']

加拿大
---

In [ ]:
txt_files = find_txt_files("C:\\Users\\HTHT\\Desktop\\建模数据\\model_CANADA")
dataframes = []  
for txt_file in txt_files:
    df = read_txt_file(txt_file)
    dataframes.append(df)
df_CANADA = pd.concat(dataframes)  
df_CANADA.columns =['sta','lon','lat','FFMC','DMC','DC','FWI','ISI','BUI','DSR']

实况
---

In [ ]:
txt_files = find_txt_files("C:\\Users\\HTHT\\Desktop\\建模数据\\气象站观测/data")
dataframes = []  
for txt_file in txt_files:
    df = read_txt_file1(txt_file)
    dataframes.append(df)
df_obs = pd.concat(dataframes)  
df_obs.columns =['sta','lat','lon',"Alti", "Year", "Mon", "Day", "TEM_Max","TEM_Min","RHU_Min", "PRE_Time_2020", "Snow_Depth", "WIN_S_Max"]

In [ ]:
df_obs.head()

匹配
---

In [ ]:
df_USA = df_USA.drop_duplicates(subset= ['sta'],keep='first',inplace=False)
df_CANADA = df_CANADA.drop_duplicates(subset= ['sta'],keep='first',inplace=False)
merged_uc = df_USA.merge(df_CANADA, on=['sta', 'lon', 'lat'])

In [ ]:
merged_uc = merged_uc.drop(columns=['lon', 'lat'])
merged_all =merged_uc.merge(df_CHINA, on = ['sta'])
merged_all = merged_all.drop_duplicates(subset= ['sta'],keep='first',inplace=False)

In [ ]:
merged_all